__pycache__
.idea/
venv/
.venv/
historical
backups
old_tests/downloaded_images
database_handler/downloaded_images
data_files/
**/*.ods
**/*.xml
*.db*
auto_record/
app/static/card_images/*.jpg
credentials.json
*.zip
*.gif
custom_cards/
