<div class="col-md-12">
    <div class="card mb-1" style="background-color:Linen;">
        <div class="card-header">{{ meta_data.get("set_name", '') }}
            <span style="float: right;">You're doing a good job. You can take a break. I love you.</span>
        </div>
        <div class="card-body row g-0">
            <div class="col-2 deck-metadata-col">
                <p class="card-text">Have: {{ meta_data["count_have"] }}</p>
            </div>
            <div class="col-2 deck-metadata-col">
                <p class="card-text">Total: {{ meta_data["count_cards"] }}</p>
            </div>
            <div class="col-3 deck-metadata-col">
                <p class="card-text">Complete: {{ meta_data["percent_complete"] }}%</p>
            </div>
        </div>
    </div>
</div>
{% if 'set_card_list' in meta_data %}
{% for card_data in meta_data['set_card_list'] %}
{% include 'card_template_jinja.html' %}
{% endfor %}
{% endif %}
