<div class="col-4 col-sm-3 col-lg-2 my-class">
    <div class="card my-content-card">
        <div class="card-header d-flex justify-content-between align-items-center">
            {% if card_data and 'own_count' in card_data and card_data['own_count'] %}
            <a id="card_header_title"
               href="https://www.tcgplayer.com/product/{{ card_data['tcgp_id'] }}/pokmeon-{{ card_data['tcgp_path'] }}"
               target="_blank" rel="noopener noreferrer">{{ card_data["card_name"] }}</a>
            {% endif %}
            <div data-mdb-input-init class="form-outline">
                {% if card_data and 'card_index' in card_data and card_data['card_index'] %}
                <span>#{{ card_data.get('card_index', '??') }}</span>
                {% else %}
                <span>#??</span>
                {% endif %}
            </div>
            {% if 'new' in card_data %}
            <span id="new_tag"
                  class="position-absolute top-0 start-100 translate-middle badge p-1 text-bg-danger"><span
                    class="visually-hidden">New</span></span>
            {% endif %}
        </div>
        {% if card_data and 'own_count' in card_data and card_data['own_count'] %}
        <div class="card-body collection-image">
            <img class="img-fluid" loading="lazy" data-collection-type="collection"
                 data-card-id="{{ card_data.get('id', null) }}"
                 data-user-collection-id="{{ card_data.get('user_collection_id', null) }}"
                 src="https://tcgplayer-cdn.tcgplayer.com/product/{{ card_data['tcgp_id'] }}_200w.jpg">
            <span>{{ card_data.get('own_count', '') }}</span>
        </div>
        {% endif %}
    </div>
</div>
